body {

    margin: 0px;
    padding:0px;

}

.wrapper
{
    width: 30%;
    margin: auto;
    background: #e47171;
    border: 2px solid #000000;
    margin-top:10px;
    border-radius: 15px;
    box-shadow:10px;
}

.color
{
    background:#e47171;

}

.color2
{
    background: #ff6a00;


}